# Dependencies
node_modules/

# Environment Variables (Keep your secrets off GitHub!)
.env
.env.local
.env.*.local

# Production Build Folder
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store